<div class="quiz-list">
  @for (quiz of quizzes(); track quiz.id) {
    <div class="flex items-center p-4 border-b border-gray-200">
      <a
        class="mr-4 flex items-center"
        [routerLink]="['/quiz', quiz.id, 'edit']"
        [queryParams]="{ title: quiz.title }"
      >
        <mat-icon>edit</mat-icon>
      </a>
      <a
        class="cursor-pointer font-medium hover:underline"
        [routerLink]="['/quiz', quiz.id]"
        [queryParams]="{ title: quiz.title }"
        >{{ quiz.title }}</a
      >
    </div>
  }
</div>
