<div class="flex h-24 items-center justify-center text-white font-extrabold text-3xl">
  <!--<img src="app-logo-small.png" alt="App logo" class="w-32" />-->
  QUIZ
</div>

<div
  class="mb-6 mt-0 flex flex-col border-b-2 border-t-2 border-gray-700 border-t-gray-700 p-2 shadow-md"
>
  <div class="text-center text-sm font-medium text-gray-200">
    {{ userFullName() }}
  </div>
  <div class="text-balance text-center text-xs text-neutral-400">
    {{ userEmail() }}
  </div>
</div>

<nav class="flex flex-1 flex-col">
  <ul role="list" class="flex flex-1 flex-col gap-y-7">
    @for (group of navigationGroups; track group.title) {
      <li>
        @if (group.title.length > 0) {
          <div class="text-xs font-semibold leading-6 text-gray-400">
            {{ group.title }}
          </div>
        }
        <ul role="list" class="-mx-2 space-y-1">
          @for (item of group.items; track item.name) {
            <sidebar-item [name]="item.name" [icon]="item.icon" [uri]="group.path + item.uri" />
          }
        </ul>
      </li>
    }
  </ul>
</nav>
