<auth-page-layout>
  <b class="text-lg">Password reset</b>
  <p class="m-2 mb-4">Enter your account email and your new password.</p>
  <form [formGroup]="resetPasswordForm" class="space-y-6">
    <div>
      <label
        for="email"
        class="block text-sm font-medium leading-6 text-gray-700"
      >
        Account email address
      </label>
      <div class="mt-2">
        <input
          formControlName="email"
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          required
          class="block w-full rounded-md border-0 bg-gray-100 px-1.5 py-1.5 text-center text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          [ngClass]="{
            'ring-red-300':
              resetPasswordForm.get('email')?.touched &&
              resetPasswordForm.get('email')?.dirty &&
              resetPasswordForm.get('email')?.errors,
          }"
        />
        @if (
          resetPasswordForm.get('email')?.dirty &&
          resetPasswordForm.get('email')?.hasError('required')
        ) {
          <div class="pt-1 text-center text-sm text-red-500">
            Email is required
          </div>
        } @else if (
          resetPasswordForm.get('email')?.touched &&
          resetPasswordForm.get('email')?.hasError('email')
        ) {
          <div class="pt-1 text-center text-sm text-red-500">
            Please enter a valid email address
          </div>
        }
      </div>
    </div>

    <div class="sm:col-span-3">
      <label
        for="password"
        class="block text-sm font-medium leading-6 text-gray-700"
      >
        New password
      </label>
      <div class="mt-1">
        <input
          formControlName="password"
          id="password"
          name="password"
          type="password"
          autocomplete="new-password"
          required
          class="block w-full rounded-md border-0 bg-gray-100 px-1.5 py-1.5 text-center text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          [ngClass]="{
            'ring-red-300':
              resetPasswordForm.get('password')?.touched &&
              resetPasswordForm.get('password')?.dirty &&
              resetPasswordForm.get('password')?.errors,
          }"
        />
        @if (
          resetPasswordForm.get('password')?.dirty &&
          resetPasswordForm.get('password')?.hasError('required')
        ) {
          <div class="pt-1 text-center text-sm text-red-500">
            Password is required
          </div>
        } @else if (
          resetPasswordForm.get('password')?.touched &&
          resetPasswordForm.get('password')?.hasError('minlength')
        ) {
          <div class="pt-1 text-center text-sm text-red-500">
            Password must be at least
            {{
              resetPasswordForm.get('password')?.errors?.['minlength']
                ?.requiredLength
            }}
            characters long
          </div>
        }
      </div>
    </div>

    <div>
      <div class="flex items-center justify-between">
        <label
          for="rePassword"
          class="block text-sm font-medium leading-6 text-gray-700"
        >
          Re-enter password
        </label>
      </div>
      <div class="mt-2">
        <input
          formControlName="rePassword"
          id="rePassword"
          name="rePassword"
          type="password"
          autocomplete="new-password"
          required
          class="block w-full rounded-md border-0 bg-gray-100 px-1.5 py-1.5 text-center text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          [ngClass]="{
            'ring-red-300':
              resetPasswordForm.get('rePassword')?.dirty &&
              resetPasswordForm.get('rePassword')?.errors,
          }"
        />
        @if (
          resetPasswordForm.get('rePassword')?.dirty &&
          resetPasswordForm.get('rePassword')?.hasError('required')
        ) {
          <div class="pt-1 text-center text-sm text-red-500">
            Password is required
          </div>
        }
      </div>
    </div>

    <div>
      <div class="mb-4">
        <app-alert
          [visible]="errorMsg().length > 0"
          [message]="errorMsg()"
          [type]="'red'"
        />
      </div>
      @if (passwordResetSuccess()) {
        <app-alert
          visible
          [message]="'New password was set.'"
          [type]="'blue'"
        />
        <app-alert
          visible
          [message]="'You will be automatically logged in.'"
          [type]="'gray'"
        />
      } @else {
        @if (!apiCallInProgress()) {
          <button
            (click)="resetPassword()"
            [disabled]="!resetPasswordForm.valid"
            class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            [ngClass]="{
              'bg-blue-600 hover:bg-blue-500': resetPasswordForm.valid,
              'bg-gray-600': !resetPasswordForm.valid,
            }"
          >
            Reset password
          </button>
        } @else {
          <div class="flex w-full justify-center">
            <mat-spinner [diameter]="33"></mat-spinner>
          </div>
        }
      }
    </div>
  </form>
</auth-page-layout>
