<div class="-mt-4 mb-5 border-b dark:border-b-zinc-700">
  <ng-template #tab let-text="text" let-tabViewIndex="tabViewIndex">
    <a
      (click)="viewIndex.set(tabViewIndex)"
      class="cursor-pointer whitespace-nowrap border-b-2 px-2 py-3 text-sm font-medium"
      [ngClass]="{
        'border-blue-500 text-blue-600 dark:text-blue-500': viewIndex() === tabViewIndex,
        'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-600 dark:hover:border-gray-400 dark:hover:text-gray-400':
          viewIndex() !== tabViewIndex,
      }"
      >{{ text }}</a
    >
  </ng-template>
  <nav class="flex space-x-8">
    <ng-template
      [ngTemplateOutlet]="tab"
      [ngTemplateOutletContext]="{
        text: 'Account',
        tabViewIndex: view.account,
      }"
    />
    <ng-template
      [ngTemplateOutlet]="tab"
      [ngTemplateOutletContext]="{
        text: 'Theme',
        tabViewIndex: view.theme,
      }"
    />
  </nav>
</div>

@if (viewIndex() === view.account) {
  <setting-profile />
  <setting-security />
} @else if (viewIndex() === view.theme) {
  <setting-theme />
}
